 @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Noticia+Text);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);

body{
	 font-family: 'Open Sans', sans-serif;
	 color: #333333;
	 background: #fff;
}
a:hover{
	text-decoration: none;
} 
a, a:visited{
	text-decoration: none;
} 
img {
    max-width: 100%;
}
.padding-off {
	padding-left: 0px ;
	padding-right: 0px;
}
.padding-left-off{
	padding-left: 0px;
}
.padding-right-off{
	padding-right: 0px;
}
/***START HEADER AREA***/
.top-header{
	background: #f2f2f2;
	border-bottom: 1px solid #dedede;
}
.contact{}
.contact > ul {
	margin: 0px auto;
	display: block;
	float: right;
}
.contact > ul > li {
	list-style: none;
	float: left;
	padding-right: 20px;
}
.contact > ul > li:last-child {
	padding-right: 0px;
}
.contact > ul > li > a {
	text-decoration: none;
	font-size: 11px;
	color: #404040;
	font-family: 'Open Sans', sans-serif;
}
.header-left{
	padding-left:0px;
	margin-top: 35px;
	margin-bottom: 15px;
}
.logo{
	padding-left: 0px;
}
.name{
	padding-left: 0px;
}
.name h2{
	font-size: 30px;
	color: #1d1d1d;
	font-weight: bold;
	font-family: 'Noticia Text', serif;
	margin-top: 10px;
	padding: 0px;
}
.header-right{
	padding-right: 0px;
	margin-top: 35px;
	margin-bottom: 15px;
}
	/*Navbar*/
.navbar-inverse{
	background: none;
	border: 0px;
	margin: 0px;
}
.navbar{
	border-radius: 0px
}
.navbar-inverse .navbar-nav{
	float: right;
	margin: 0px;
}
.navbar-inverse .navbar-nav > li{
	margin: 0px;
	padding: 10px;
}

.navbar-inverse .navbar-nav > li:hover{
	 background: #fff;
	 color: #000;
	 
}
.navbar-inverse .navbar-nav > li:last-child{
	padding-right: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #1d1d1d;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 0px;
    border: 2px solid #fff;
    border-right: none;
    border-left: none;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #1d1d1d;
    border-top: 2px solid #ea9a45;
	border-bottom:2px solid #ea9a45;
	margin: 0px;
    
}
.navbar-toggle{
	background: #000;
}
/***END HEADER AREA***/

/***START BANNER AREA***/
.flex-caption-top{
	background-color: rgba(0, 0, 0, 0.5);
	width: 584px;
	height: 57px;
	position: absolute;
	top: 40%;
	left: 3%;
}
.flex-caption-top h1{
	font-size: 40px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px;
	padding: 5px 10px;
}
.carpet{
	color: #e68639;
}
.flex-caption-bottom{
	position: absolute;
	top: 50%;
	left: 4%;
}
.flex-caption-bottom p{
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	font-family: 'Dancing Script', cursive;
}
/***END BANNER AREA***/

/***START WELCOME AREA***/
.welcome-area{
	padding: 50px;
}
.welcome-area h1{
	font-size: 30px;
	text-align: center;
	color: #333333;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.welcome-area p{
	font-size: 14px;
	text-align: center;
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
	padding: 0px 80px

}
/***END WELCOME AREA***/

/***START SERVICES AREA***/
.service-area{
	background: #eeeeee;
}
.service-area-left{
	margin-top: 70px;
	margin-bottom: 35px;
}
.service-area-left h1{
	font-size: 20px;
	color: #333333;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-align: right;
}
.service-area-left h5{
	font-size: 20px;
	color: #c77736;
	font-weight: bold;
	font-family: 'Dancing Script', cursive;
	text-align: right;
}
.service-area-left p{
	font-size: 13px;
	color: #515151;
	font-family: 'Open Sans', sans-serif;
	text-align: right;
	margin-top: 15px;
}
.service-area-left a{
	font-size: 14px;
	color: #333333;
	text-align: right;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin-top: 20px;
	float: right;
	padding: 8px;
}
.service-area-left a:hover{
	background: #e68639;
	color: #fff;
}
.service-area-right{
	border-left: 1px solid #bababa;
	margin-top: 40px; 
	margin-bottom: 35px;
}
.service-inn-left{
	padding-left: 0px;
}
.resident{
	position: relative;
	text-align: center;
	
}
.resident img{
	-webkit-transition: -webkit-transform 4s ease-out 0s;
  -o-transition: -o-transform 4s ease-out 0s;
  -moz-transition: -moz-transform 4s ease-out 0s;
  transition: transform 4s ease-out 0s;
}
.resident img:hover{
	-moz-transform: scale(1.15);
  -o-transform: scale(1.15) ; 
  -ms-transform: scale(1.15) ; 
  -webkit-transform: scale(1.15) ;  
  transform:scale(1.15) ; 
}

.resident-inn{
	position: absolute;
	top: 30px;
	left: 30px;
}
.resident-inn h3{
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
.mosque{
	margin-top: 20px;
	position: relative;
}
.mosque img{
		-webkit-transition: -webkit-transform 4s ease-out 0s;
  -o-transition: -o-transform 4s ease-out 0s;
  -moz-transition: -moz-transform 4s ease-out 0s;
  transition: transform 4s ease-out 0s;
}
.mosque img:hover{
		-moz-transform: scale(1.15);
  -o-transform: scale(1.15); 
  -ms-transform: scale(1.15); 
  -webkit-transform: scale(1.15);  
  transform:scale(1.15); 
}
.service-inn-mid{
	position: relative;
	padding-left: 0px;
}
.service-inn-mid img{
	webkit-transition: -webkit-transform 4s ease-out 0s;
  -o-transition: -o-transform 4s ease-out 0s;
  -moz-transition: -moz-transform 4s ease-out 0s;
  transition: transform 4s ease-out 0s;
}
.service-inn-mid img:hover{
	moz-transform: scale(1.15);
  -o-transform: scale(1.15); 
  -ms-transform: scale(1.15); 
  -webkit-transform: scale(1.15); 
  transform:scale(1.15) ;
}
.commerce-inn{
	position: absolute;
	text-align: center;
	top: 80px;
	left: 30px;
}

.commerce-inn h3{
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
.service-inn-right{
	padding-left: 0px;
}
.consult{
	position: relative;
	text-align: center;
}
.consult img{
	webkit-transition: -webkit-transform 4s ease-out 0s;
  -o-transition: -o-transform 4s ease-out 0s;
  -moz-transition: -moz-transform 4s ease-out 0s;
  transition: transform 4s ease-out 0s;
}
.consult img:hover{
	moz-transform: scale(1.15);
  -o-transform: scale(1.15); 
  -ms-transform: scale(1.15); 
  -webkit-transform: scale(1.15);  
  transform:scale(1.15) ; 
}
.install{
	position: relative;
	text-align: center;
	margin-top: 20px;
}
.install img{
	webkit-transition: -webkit-transform 4s ease-out 0s;
  -o-transition: -o-transform 4s ease-out 0s;
  -moz-transition: -moz-transform 4s ease-out 0s;
  transition: transform 4s ease-out 0s;
}
.install img:hover{
	moz-transform: scale(1.15);
  -o-transform: scale(1.15); 
  -ms-transform: scale(1.15); 
  -webkit-transform: scale(1.15);  
  transform:scale(1.15) ; 
}
/***END SERVICES AREA***/

/***START PRODUCT AREA***/
.pro-area-top{
	margin-top:100px;
}
.pro-area-top h4{
	text-align: center;
	font-size: 20px;
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin: 0px;
	line-height: 1px;
	text-transform: uppercase;
}
.pro-area-top h1{
	text-align: center;
	font-size: 40px;
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin: 0px;
	line-height: 30px;
	text-transform: uppercase;
}
/***END PRODUCT AREA***/

/***START PRODUCTS AREA INN***/
.programs {
    font-size: 0;
    margin-bottom: 15px;
	width: 100%;
	display: block;
	float: none;
   	text-align: center;
	margin-top: 50px;
}
.programs button {
    
    height: auto;
    font-weight: bold;
    font-size: 13.91px;
    padding: 4px 0;
   	text-transform: uppercase;
   	color: #333;
   	font-family: 'Open Sans', sans-serif;
   	width: 12%;
}

.programs button:hover {
    background: #ea9a45;
    color: #fff;
}

.programs button.active {
    background: #ea9a45;
    color: #fff;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.courses {
    margin-bottom: 15px;
    font-size: 0;
    width: 100%;
    margin-top: 50px;
}

.courses li {
    text-align: center;
    display: inline-block;
    width: 23%;
    margin: 10px;
}

.courses > li > h3{
	color: #333;
	text-align: left;
	padding: 0px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 12.61px;
}

.courses .mix-target {
    display: none;
}
.pro-button{
	background: none;
	border: 0px;

}

/***START PRODUCTS AREA INN***/

/***START CAROSOUL AREA ***/
.carosoul{
	position: relative;
}
.slider-captions{
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
}
.caption{
	position: absolute;
	text-align: center;
	top: 0px;
	background-color:rgba(0,0,0, 0.8);
	width: 100%;
	bottom: 0px;
}
.caption h1{
	margin: 0px;
	font-size: 32.7px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	margin-top: 50px;
}
.caption p{
	color: #fff;
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	padding: 20px 150px;
}
.view-button{
	background: #e68639 none repeat scroll 0 0;
	border: 0 none;
	border-radius: 8%;
	color: #fff;
	font-family: "Open Sans",sans-serif;
	font-size: 18px;
	font-weight: bold;
	height: 50px;
	text-align: center;
	text-transform: uppercase;
	width: 143px;
	line-height: 35px;
}
.bxslider > li > img{
	position: relative;
	width: 100%;
}
.carosoul-full{
	background: url(../images/slider_bg.png) repeat ;
	margin-top: 80px;
}
/***END CAROSOUL AREA ***/

/***START FOOTER TOP AREA***/
.footer-top{
	background: #f2f2f2;
}
.quick-contact{
	margin-top: 30px;
	margin-bottom: 18px;
}
.quick-contact h4{
	font-size: 17px;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.quick-contact h2{
	font-size: 30px;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin: 0px;
}
.quick-contact p{
	font-size: 11px;
	color: #848484;
	font-family: 'Open Sans', sans-serif;
}
.address{
	font-size: 13px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
}
.product-list{
	margin-top: 30px;
	margin-bottom: 18px;
}
.product-list h3{
	font-size: 17px;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin: 0px;
}
.product-list > ul{
	display: block;
	padding: 0px;
	margin-top: 10px;
}
.product-list > ul > li {
	list-style: none;
	float: none;
}
.product-list > ul > li > a{
	font-size: 12px;
	color: #575757;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}
.product-list > ul > li > a:hover{
	color: #000;
}
.social-area{
	margin-top: 30px;
	margin-bottom: 18px;
}
.social-area h3{
	font-size: 17px;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin: 0px;
}
.social-area > ul {
	padding:0px;
	margin-top: 10px;
	display: block;
}
.social-area > ul > li{
	list-style: none;
	float: left;
	padding: 3px;
	
}
.social-area i{
	color: #fff;
}
.footer-twitter{
	background: #01bbf6;
	padding: 8px 8px;
}
.footer-twitter:hover{
	background: #0586af;
	color: #fff;
}
.footer-rss{
	background: #f7a42c;
	padding: 8px 8px;
}
.footer-rss:hover{
	background: #9e5f04;
}
.footer-facebook{
	background: #3b5999;
	padding: 8px 12px;	
}
.footer-facebook:hover{
	background: #0a2661;
}
.footer-linked-in{
	background: #1385c4;
	padding: 8px 8px;
}
.footer-linked-in:hover{
	background: #0d557d;
}
.footer-bottom{
	border-top: 1px solid #d9d9d9;
}
.footer-area-bottom-left P{
	font-size: 12px;
	color: #414141;
	font-family: 'Open Sans', sans-serif;
	margin-top: 5px;
}
.footer-area-bottom-right{}
.footer-area-bottom-right p{
	font-size: 12px;
	color: #8f8f8f;
	font-family: 'Open Sans', sans-serif;
	text-align: right;
	margin-top: 5px;
}
.footer-area-bottom-right a{
	color: #8f8f8f;
}
/***END FOOTER TOP AREA***/
